/* TODO: add navigation anchors to nav items;
TODO: add icons for header nav items;
TODO: add breakpoints for tablets and mobile. */

@font-face {
  font-family: 'LDF Comic Sans';
  src: url(../fonts/Ldfcomicsansbold-zgma.ttf) format('truetype');
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	background-color: lightgray;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
}

.center {
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #77757526;
  z-index: 100;
}

#header-content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
}

#header-content #logo {
  flex: 1 1 0%;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 3.5rem;
}

ul {
  list-style: none;
}

#hero {
  height: 43.75rem;
  background-image: url('../images/hero_bg_scaled.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 35%;
}

#hero-logo {
  float: left;
  margin: 10rem 0 0 2rem;
  font-family: "LDF Comic Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: red;
}

#hero-content {
  /* height: 12.5rem; */
  width: 34.375rem;
  margin: 14rem 3rem 0 0;
  background-color: #757b7a;
  opacity: 0.5;
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  padding: 0.5rem;
  color: white;
  float: right;
}

#services h2 {
  padding-top: 2rem;
}

.service img {
  width: 300px;
  height: 200px;
}

.services-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  background-image: url('../images/carnival.jpg');
  background-size: cover;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.service span {
  width: 300px;
  padding-left: 1rem;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  background-color: #757b7a;
  padding: 0.5rem;
  text-align: center;
}

#people h2 {
  padding-top: 2rem;
}

.people-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  min-height: 700px;
  background-image: url('../images/street.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 80%;
}

#people .image-container {
	padding: 1rem;
	margin: 1rem;
	max-height: 500px;
}

#people .image-item {
  display: flex;
  flex-flow: column;
  background-color: #757b7a;
}

#people img {
  width: 200px;
  height: auto;
  margin: 2rem auto 0 auto;
}

.image-item .teammember-description {
  color: white;
  background-color: #757b7a;
  width: 300px;
}

.teammember-description h3 {
  padding-top: 0.25rem;
}

.teammember-description p {
  padding-top: 0.5rem;
}

footer {
  padding-left: 1rem;
}